.footer {
    height:35vh;
    background-color: #282A36;
    display:flex;
    color:white;
    font-size:20px;
    flex-direction: column;
    justify-content: center;
}
.footer-top {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.spacer{
    background-color:transparent;
    height:10px;
    width: 25px;
}